process {
withName:  SAMPLESHEET_CHECK { container = '058264265624.dkr.ecr.us-east-1.amazonaws.com/python:3.8.3' }
withName:  FACETS { container = '058264265624.dkr.ecr.us-east-1.amazonaws.com/facets-suite:2.0.9' }
withName:  SNPPILEUP { container = '058264265624.dkr.ecr.us-east-1.amazonaws.com/facets-suite:2.0.9' }
withName:  MULTIQC { container = '058264265624.dkr.ecr.us-east-1.amazonaws.com/multiqc:1.14--pyhdfd78af_0' }
withName:  FASTQC { container = '058264265624.dkr.ecr.us-east-1.amazonaws.com/fastqc:0.11.9--0' }
withName:  CUSTOM_DUMPSOFTWAREVERSIONS { container = '058264265624.dkr.ecr.us-east-1.amazonaws.com/multiqc:1.14--pyhdfd78af_0' }
}
includeConfig 'healthomics_resources.config'

/*
process {
    beforeScript = "module load singularity/3.7.1; unset R_LIBS; catch_term () { echo 'caught USR2/TERM signal'; set +e; false; on_exit ; } ; trap catch_term USR2 TERM"
    maxRetries = 3

    executor = 'lsf'
    //  clusterOptions = "-sla CMOVOYAGER"
    queueSize = 500
    perJobMemLimit = true
}
*/
params {
    config_profile_name        = 'Juno profile'
    config_profile_description = 'Minimal Juno profile'

    // Limit resources so that this can run on GitHub Actions

    max_cpus   = 10
    max_memory = '50.GB'
    max_time   = '48.h'

    // Genome references
    genome = 'GRCh37'

    // SNP Pileup options
    pseudo_snps = 50
    count_orphans = true
    read_counts = '25,0'

    // Facets options
    purity_cval = 100
    cval = 50
    seed = 1000
    min_nhet = 25
    purity_min_nhet = 25

    // Ignore MultiQC

    multiqc_config = null
    multiqc_logo = null
    multiqc_methods_description = null

    //Ignore igenomes
    igenomes_ignore = true

    // Reference genome options
    // genome = null
    dbsnp = "${genome_resources.genomes[params.genome]['facets_snps']}"
    dbsnp_index = "${dbsnp}.idx"
}
