process {

  withName:  SAMPLESHEET_CHECK {
   publishDir '/mnt/workflow/pubdir'
   container '058264265624.dkr.ecr.us-east-1.amazonaws.com/python:3.8.3' 
  }

  withName:  FACETS {
   publishDir '/mnt/workflow/pubdir'
   container '058264265624.dkr.ecr.us-east-1.amazonaws.com/facets-suite:2.0.9' 
  }

  withName:  SNPPILEUP {
   publishDir '/mnt/workflow/pubdir'
   container '058264265624.dkr.ecr.us-east-1.amazonaws.com/facets-suite:2.0.9' 
  }

  withName:  MULTIQC {
   publishDir '/mnt/workflow/pubdir'
   container '058264265624.dkr.ecr.us-east-1.amazonaws.com/multiqc:1.14--pyhdfd78af_0' 
  }

  withName:  FASTQC {
   publishDir '/mnt/workflow/pubdir'
   container '058264265624.dkr.ecr.us-east-1.amazonaws.com/fastqc:0.11.9--0' 
  }

  withName:  CUSTOM_DUMPSOFTWAREVERSIONS {
   publishDir '/mnt/workflow/pubdir'
   container '058264265624.dkr.ecr.us-east-1.amazonaws.com/multiqc:1.14--pyhdfd78af_0' 
  }

}
includeConfig 'healthomics_resources.config'

params {
    input = 's3://loki-resources/samplesheet.csv'
    outdir = 's3://loki-test-output/'
    config_profile_name        = 'HealthOmics profile'
    config_profile_description = 'Minimal HealthOmics profile'

    // Limit resources so that this can run on GitHub Actions

    max_cpus   = 10
    max_memory = '50.GB'
    max_time   = '48.h'

    // Genome references
    genome = 'GRCh37'

    // SNP Pileup options
    pseudo_snps = 50
    count_orphans = true
    read_counts = '25,0'

    // Facets options
    purity_cval = 100
    cval = 50
    seed = 1000
    min_nhet = 25
    purity_min_nhet = 25

    // Ignore MultiQC

    multiqc_config = null
    multiqc_logo = null
    multiqc_methods_description = null

    //Ignore igenomes
    igenomes_ignore = true

    // Reference genome options
    // genome = null
    dbsnp = "${genome_resources.genomes[params.genome]['facets_snps']}"
    dbsnp_index = "${dbsnp}.idx"
}
